<!--
@Author: xiaojiezhang
@Date:   2019-02-01T14:39:03-05:00
@Last modified by:   xiaojiezhang
@Last modified time: 2019-02-05T15:14:38-05:00
-->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
