<!--
@Author: xiaojiezhang
@Date:   2019-01-31T09:02:58-05:00
@Last modified by:   xiaojiezhang
@Last modified time: 2019-02-01T11:48:39-05:00
-->
<img src="public/welcome.jpg">
<h1 ><a class="btn btn-secondary btn-lg">{{user.email}}</a></h1>
