// @Author: xiaojiezhang
// @Date:   2019-01-28T21:32:34-05:00
// @Last modified by:   xiaojiezhang
// @Last modified time: 2019-02-04T08:37:03-05:00



@import '~bootstrap/scss/bootstrap';

.thumb-img{
  width:60px;
  height:60px;
}


.table-wrapper-scroll-y {
display: block;
max-height: 500px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-wrapper-scroll-y {
display: block;
max-height: 600px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}




/* body {
    height: 100%;
    width: 100%;
    background-image: url('public/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
 */

// Dashboard
#signout-button,
#Dashboard{
  display:none;
}



body {
  overflow-x: hidden;
}
