// @Author: xiaojiezhang
// @Date:   2019-01-28T21:32:34-05:00
// @Last modified by:   xiaojiezhang
// @Last modified time: 2019-01-31T14:13:34-05:00



@import '~bootstrap/scss/bootstrap';

.thumb-img{
  width:60px;
  height:60px;
}

/* body {
    height: 100%;
    width: 100%;
    background-image: url('public/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
 */

// Dashboard
#signout-button,
#Dashboard{
  display:none;
}



body {
  overflow-x: hidden;
}
